@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* violet : #35293A */

body {
    background: white; 
}

h1, h2, h3, h4 {
    font-family: 'Walter Turncoat', cursive !important;
}
h1 {
    color: white;
    background-color: #ED7061;
    font-size: 3em;
    padding: 8px;
}

h2 {
    font-size: 3em;
    color: #ED7061;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

section {
    padding: 0px !important;
}

.fa-quote-left,
.fa-quote-right {
    color: #ED7061;
    font-size: 3em;
}

.fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
}

.fa-quote-right {
    position: absolute;
    bottom: 0;
    left: 0;
}

video {
    position: fixed;
    z-index: -1;
}

.compact-text {
    line-height: 17pt
}

/* SLIDE 1 */
#title1 {
    font-size: 10em;
    color: #ED7061;
    background-color: transparent;
}

#title2 {
    font-size: 10em;
    color: black;
    background-color: transparent;
}

.s1-img {
    height: 100%;
}

.s1-container-img {
    display: flex;
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* SLIDE 2 */

.s2-img {
    position: fixed;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
}
/* SLIDE 3 */
#s3-video {
    right: 0;
    bottom: 0;
    width: 80%;
}

#s3-data1,
#s3-data2 {
    position: absolute;
    width: 100%;
}

/* SLIDE 4 */
#s4-video {
    right: -10%;
    bottom: 0;
    width: 80%;
}

/* SLIDE 5 */
#s5-video {
    top: 0;
    left: 0;
    width: 100%;
}

/* SLIDE 6 */
#s6-video {
    right: 0;
    bottom: 0;
    width: 80%;
}

#s6-bar {
    position: absolute;
    bottom: 0%;
    height: 12.3%;
    width: 100%;
    right: 0;
    z-index: -2;
    background-color: #F8D6C4; 
}

/* SLIDE 7 */
#s7-video {
    right: -10%;
    bottom: 0;
    width: 80%;
}

/* SOUND BUTTON */
.soundButton {
    position: fixed;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
}

#container { display:block; }

@media only screen and (orientation:portrait){

  #container {

   height: 100vw;

   -webkit-transform: rotate(90deg);

   -moz-transform: rotate(90deg);

   -o-transform: rotate(90deg);

   -ms-transform: rotate(90deg);

   transform: rotate(90deg);

  }

}

@media only screen and (orientation:landscape){

  #container {

  -webkit-transform: rotate(0deg);

  -moz-transform: rotate(0deg);

  -o-transform: rotate(0deg);

  -ms-transform: rotate(0deg);

  transform: rotate(0deg);

    }
}
